.product-card{
    display: flex;
    flex-direction: column;
    max-width: 13rem;
}


.product-card img{

    border-radius: 30px 30px 0 0;
    width: 13rem;
    height: 10rem;
}


.product-description{
    background-color: rgb(221, 221, 221);
    padding: .3rem .8rem;
    border-radius: 0 0 30px 30px;

}

.product-description p{
    margin: 0;
    font-size: .8rem;
}

.product-description h4{
    font-size: 1.2rem;
}


.product-price-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0 .5rem 0;

}

.product-price-counter p {
    margin: 0;
    font-size: 1.05rem;
}


.product-counter{
    display: flex;
    gap: .6rem;
    align-items: center;


}


.product-counter button{
    border:none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 .6rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    cursor:pointer;

    min-width: 30px;
}


.product-counter button:active{
    color: rgb(0, 0, 0);
}
.product-counter button:hover{
    background-color: rgb(255, 127, 31);
}

@media (min-width: 1100px){

    .product-card img{
        width: 15rem;
        height: 10rem;
    }
    .product-card{
        max-width: 15rem;
    }
    
}