<div class="product-card">
    <img src="https://firebasestorage.googleapis.com/v0/b/dondepido-befab.appspot.com/o/aMAevv6mArmDRUywEStq%2Fproducts%2Fc05518c7-e67c-4003-be76-6e1d4814715a?alt=media" alt="">
    <div class="product-description">
        <h4>System</h4>
        <p>Medallon 120gr (blend secreto), cheddar x4, bacon ahumado, alioli de berenjena ahumada, pepinillos</p>
        <div class="product-price-counter">
            <p>$4200</p>
            <div class="product-counter"> <!--componente product-counter?-->
                <button>-</button>
                <p>0</p>
                <button>+</button>
            </div>
        </div>
    </div>

</div>