.cart-center {
  background-color: rgb(221, 221, 221);
  width: 17rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart-empty {
  font-size: 2rem;
  font-weight: bold;
}

.cart {
  background-color: rgb(51, 51, 51);
  position: sticky;
  top: 5rem;
  bottom: 2rem;

}

.cart h3 {
  text-align: center;
  color: white;
}

@media (min-width: 1100px) {
  .cart-center {
    width: 24rem;
  }

  .content-cart {
    width: 24rem;
  }
}

/* color: rgb(255, 127, 31); */

/*
colores de logo
fuego:
rgb(255, 190, 29); amarillo
rgb(255, 127, 31); naranja
rgb(221, 58, 14); naranja rojizo

hamburguesa:

pan claro: #f9a331
pan sombra: #d47a25

lechuga luz: rgb(118, 201, 27)
lechuga sombra: rgb(115, 156, 40)

tomate:rgb(251, 26, 3)
queso:rgb(253, 176, 22)
carne:rgb(153, 3, 30)

base:rgb(216, 176, 154)


*/
.cart-header {
  display: flex;
  justify-content: space-between; /* Separar título y botón a los lados opuestos */
  align-items: center; /* Centrar verticalmente */
}

.cart-title {
  flex-grow: 1; /* Para que el título ocupe el espacio restante */
}

.fix-btn {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  text-align: center;
}

.fix-pisition {
  /* Añade margen a la derecha para separar el botón del borde */
  margin-right: 10px;
}

.btn-danger:hover {
  background-color: #f11;
  -webkit-filter: drop-shadow(0 0 8px #f11);
  filter: drop-shadow(0 0 8px #ff1111);
}

list-products-cart {
  /* height: 380px; */
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 84px;
  /* margin-top: 8px; */
}

.content-cart {
  background-color: rgb(221, 221, 221);
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.total-to-pay {
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;
}

.cart-price {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 12px;
}

.cart-checkout-btn {
  padding: 8px 0;
  width: 100%;
  background-color: #f36505;
  color: #fff;
  border: none;
  outline: none!important;
  box-sizing: border-box;
  transition: .1s;
}

.cart-checkout-btn:hover {
  background-color: #e64b0a;
}
