.wrapper{
    background-image: url('https://cdn.pixabay.com/photo/2022/08/30/23/27/burger-pattern-7422088_1280.png');
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0-4YJEqykjkz-RQ6ZjpaRRbBXdycOBSM7rg&usqp=CAU'); */
    background-repeat: repeat;
    padding: .5rem 1rem 0 1rem;

    
}

.wrapper h2{
    margin-bottom: .1rem;
    
}

hr{
    margin-top:0;
    border: 1.2px solid black;
    opacity: .75;
}
.menu{
    display: flex;
    justify-content: space-between;

}

.title{
    margin-top:4rem;
}

  
shared-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; 
  }


products-cart{
    margin-bottom: 1.8rem;
}
