
.hero img{
    width: auto;
    height: 10rem;
}

.hero{
    margin: 9rem 3rem;
    color:white;
}

.slogan{
    font-weight: lighter;
}

button {
    margin: 1rem 0.6rem;
    border:none;
    color: white;
    text-decoration: none;
    padding: .4rem .6rem;
    text-align: center;

    background-color: rgb(5, 152, 98);
    border-radius: 5px;
    cursor:pointer;
}


button:active{
    color: rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(15, 109, 75);
}



