<div class="wrapper">
    <div class="title">
        <h1>CHECKOUT</h1>
    </div>
    <div class="delivery">
        <h4>¡Último paso!</h4>
        <div class="delivery-details">
            <div class="delivery-details-item separator">
                <div>
                    <h5>Dirección</h5>
                    <p>Ingresa tu dirección</p>
                </div>
                <div>
                    <button class="edit-btn btn">Editar</button>
                </div>
            </div>
            <div class="delivery-details-item separator">
                <div>
                    <h5>Tipo de entrega</h5>
                    <p>Delivery</p>
                </div>
                <div>
                    <button class="edit-btn btn">Editar</button>
                </div>
            </div>


            <div class="delivery-details-item separator">
                <div>
                    <h5>Forma de Pago</h5>
                    <p>Efectivo</p>
                </div>
                <div>
                    <button class="edit-btn btn">Editar</button>
                </div>
            </div>
    
            
        </div>
        <button class="send-order btn">Enviar Pedido</button>

    </div>

</div>