<form class="wrapper">
    <div class="title">
        <h1>CHECKOUT</h1>
    </div>
    <div class="delivery">
        <h4>¡Último paso!</h4>
        <div class="delivery-details">
            <div class="delivery-details-item separator">
                <div>
                    <h5>Dirección</h5>
                    <p>{{ currentAddress }}</p>
                </div>
                <div>
                    <button (click)="editAddress()" class="edit-btn btn">Editar</button>
                </div>
            </div>
            <div class="delivery-details-item separator">
                <div>
                    <h5>Tipo de entrega</h5>
                    <p>{{deliveryType}}</p>
                </div>
                <div>
                    <button (click)="editDeliveryType()" class="edit-btn btn">Editar</button>
                </div>
            </div>


            <div class="delivery-details-item separator">
                <div>
                    <h5>Forma de Pago</h5>
                    <p>{{payMode}}</p>
                </div>
                <div>
                    <button (click)="editPayMode()" class="edit-btn btn">Editar</button>
                </div>
            </div>
            
            
        </div>
        <button (click)="onSubmit()" class="send-order btn">Enviar Pedido</button>
        
    </div>
    
</form>
