<header class="nav-bar">

  <div>
    <a id="page-logo" href="">
      <img src="./../../../../assets/images/logo-final-v2.png" alt="Logo de la página" href="">
    </a>
  </div>

  <nav class="nav-links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Menu</a>

    <ng-container *ngIf="!userLoggedIn; else isLoggedIn">
      <a routerLink="/auth/login" routerLinkActive="active">Log In</a>
      <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    </ng-container>

    <ng-template #isLoggedIn>
      <a routerLink="/orders" routerLinkActive="active">Orders</a>

      <a (click)="logOut()">Log Out</a>
    </ng-template>

  </nav>
</header>
