<header class="nav-bar">
    <div>
        <a id="page-logo" href="">
        <img src="./../../../../assets/images/logo.png" alt="Logo de la página" href="">
        My Hamburguer
        </a>
    </div>
    <nav class="nav-links">
        <a (click)="goToHome()" routerLink="/home" routerLinkActive="active">Home</a>
        <a (click)="goToMenu()" routerLink="/products" routerLinkActive="active">Menu</a>
        <a (click)="goToLogin()" routerLink="/auth/login" routerLinkActive="active">Log In</a>
        <a (click)="goToRegister()" routerLink="/auth/register" routerLinkActive="active">Register</a>
    </nav>
</header>
