
.background-img {
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0-4YJEqykjkz-RQ6ZjpaRRbBXdycOBSM7rg&usqp=CAU');
}

.login-container {
  /* border: 1px solid red; */
  padding: 1rem;
  /* height: 100%; */ /* Si le saco esto queda igual :v  osea el tamaño total de la pantall, sin scrollear*/
  height: 70vh;  /* Con esta unidad, y este valor queda genial tambien! */
}
