<footer class="py-4">
    <nav class="nav-footer">
        <div class="elemento-nav">
            <h3>Company</h3>
            <a href="">About us</a>
            <a href="">Faq</a>
            <a href="">Contact us</a>
        </div>
        <div class="elemento-nav">
            <h3>Legal</h3>
            <a href="">terms & conditions</a>
            <a href="">Privacy policy</a>
            <a href="">Disclaimer</a>
        </div>
        <div class="elemento-nav">
            <h3>Social media</h3>
            <div class="social-networks">
                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                <a href="https://www.x.com" target="_blank">twitter</a>
                <a href="https://www.instagram.com" target="_blank">Instagram</a>
                <a href="https://www.youtube.com" target="_blank">youtube</a>

            </div>
        </div>
    </nav>
    <h5>COPYRIGHT © 2023 TAP FOODWORKS LTD. | ALL RIGHTS RESERVED</h5>
</footer>
