form{
  margin: 2rem 0;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255);
  
}

.logo{
  text-align: center;
}

.logo img{
  width: auto;
  height: 5rem;
}

form h4{
  text-align: center;
  margin: 0;
}

.form-group{
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.log-in label{
  display: block;
  font-weight: bold;
}
.log-in input{
  width: 100%;
  background-color: rgb(245, 245, 245);
  border: none;
  padding: 0.8rem;
}

.btn{
  border:none;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(255, 127, 31);
  width: 100%;
  cursor:pointer;

}

.forgot-password{
  text-align: end;
}

.forgot-password a, .open-account a{
  color: rgb(255, 127, 31);
}