<div class="login-container">
<form id="login-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="initSession()">
  <div class="logo">
    <img src="./../../../../../assets/images/logo-sin-nombre.png" alt="">
  </div>
  <h4>Iniciá sesión</h4>
  <div class="form-content">
    
    <div class="form-group">

      <div class="log-in">
          <label for="email">Email</label>
          <input type="text" formControlName="email" id="email" name="email" placeholder="Ingresá tu email" required>

          <p *ngIf="isValidFiled('email')" class="incorrect-input-message">
            {{ getFieldError("email") }}
          </p>
      </div>

    </div>

    <div class="form-group">

      <div class="log-in">
          <label for="password">Contraseña</label>
          <input type="password" formControlName="password" id="password" name="password" placeholder="Ingresá tu contraseña" 
                 required>
                 
          <p *ngIf="isValidFiled('password')" class="incorrect-input-message">
          {{ getFieldError("password") }}
          </p>
            
          <div class="forgot-password">
            <a>¿Olvidaste tu contraseña?</a>
          </div>
      </div>

    </div>
      
    <div class="log-in-button">
      <button type="submit" class="btn" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </div>

    <div class="open-account">
      <p>¿No tiene una cuenta?<a routerLink="/auth/register"> Registrate </a></p>
    </div>



    <!-- <div class="log-in-others">
      <span>O ingresa con:</span>
      <a href="">Google</a>
      <a>Facebook</a>
    </div> -->

  </div>

</form>

</div>
