.register-container{
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  background-image: url('./../../../../../assets/images/patron-prueba6.png');

}

form{
  margin: 2rem 0;
  border-radius: 1rem;
  background-color: #ffffff;
  width: 45%;
}

.logo{
  padding-top: .5rem;
  text-align: center;
}

.logo img{
  width: auto;
  height: 5rem;
}

form h4{
  text-align: center;
  margin: 0;
}

.form-content{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sign-in label{
  display: block;
  font-weight: bold;
}
.sign-in input{
  width: 100%;
  background-color: rgb(245, 245, 245);
  border: none;
  padding: 0.8rem;
}

.btn{
  border:none;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(255, 127, 31);
  width: 100%;
  cursor:pointer;

}
.go-to-login{
  text-align: center;
}

.go-to-login a{
  color: rgb(255, 127, 31);
}

.go-to-login p{
  margin: 0;
}

.data-group{
  display: flex;
  gap: 1rem;
}

.incorrect-input-message{
  color: red;
  margin: .1rem 0 0 0;
  font-size: .8rem;
  font-weight: bold;
}
