.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.category-name{
    display: flex;
    gap: .6rem;
    align-items: baseline;
    margin-right: 1rem;
}
hr{
    opacity: 1;
    flex-grow: 1;
}

h3{
    display: inline-block;
}

@media (min-width: 1100px){

    .product-list{
        grid-template-columns: repeat(4, 1fr);

    }
}