.separator{
  /* border-top: 0.5rem dotted #f9bb5e; */
  border-top: 0.5rem solid #ede9e9;
  padding-top: 1rem;
}
.product-detail, .method-item, .total-item {
  display: flex;
  justify-content: space-between;
}

.left-side{
  display: flex;
  gap: 1rem;
}

.amount-section{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image-section img{
  width: auto;
  height: 3.5rem;
}

.amount-section span, .delivery-detail span{
  font-weight: bold;
}


hr, .delivery-detail p{
  margin: 0;
}

.delivery-detail hr{
  margin-top: 1rem;
}

.delivery-detail-item{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: .5rem;

}

.icon i{
  width: 2rem;
  height: auto;
}

.order-detail{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.delivery-detail{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.principal p{
  margin-bottom: 0;
}

mat-expansion-panel{
  background-color: white;
  padding: 0.8rem 1rem;
}

