<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState=false">

        <mat-expansion-panel-header>

            <div class="principal">
                <h4>Pedido # {{order.id}}</h4>
                <!-- <p>Fecha de pedido: {{formatDate(order.dateTime)}} -->
                <!-- </p> -->

            </div>

        </mat-expansion-panel-header>
        <div class="order-detail">
            <h5 class="separator">
                Tu pedido
            </h5>

            <div *ngFor="let productInOrder of order.productLineArray; let i = index">
                <div class="product-detail">
                    <div class="left-side">
                        <div class="image-section">
                            <img src="{{ getProductById(productInOrder.idProduct).urlImage }}" alt="">
                        </div>
                        <div class="description-section">
                            <h6>{{ getProductById(productInOrder.idProduct).name }}</h6>
                            <p>{{ getProductById(productInOrder.idProduct).description }}</p>
                        </div>

                    </div>

                    <div class="amount-section">
                        <span>{{ productInOrder.quantity }}x</span>
                        <span>$ {{ getProductById(productInOrder.idProduct).price }}</span>
                    </div>

                </div>
                <hr>

            </div>

            <div class="separator">
                <h5>Detalles sobre la entrega</h5>
                <div class="delivery-detail">
                    <div class="delivery-detail-item">
                        <div class="icon">
                            <i class="fa-solid fa-motorcycle"></i>
                        </div>
                        <div>
                            <p>Tipo de entrega</p>
                            <span>Delivery</span>
                        </div>
                        <hr>
                    </div>

                    <div class="delivery-detail-item">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div>
                            <p>Dirección</p>
                            <span>{{order.address}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator total-item">
                <h5>Total</h5>
                <h5>$ {{order.totalPaid}}</h5>
            </div>

            <div class="separator method-item">
                <h5>Metodo de pago</h5>
                <h5>{{order.payMode}}</h5>

            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>

