<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState=false">

        <mat-expansion-panel-header>
            <div class="principal">
                <h4>Pedido # {{order.id}}</h4>
                <p>Fecha de pedido: {{order.date?.toLocaleDateString()}} 
                    <span>{{order.date?.toLocaleTimeString()}}</span> 
                </p>
                
            </div>

        </mat-expansion-panel-header>
        <div class="order-detail">
            <h5>
                Tu Pedido
            </h5>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productInOrder of order.productLineArray; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{productInOrder.product.name | titlecase }} </td>
                        <td>{{productInOrder.quantity}}</td>
                        <td>$ {{productInOrder.product.price}}</td>
                        <td>$ {{productInOrder.quantity * productInOrder.product.price | number}}</td>
                        
                    </tr>
                </tbody>
            </table>
            <div>
                <h5>Detalles sobre la entrega</h5>
                <p>Tipo de entrega: Delivery</p>
                <p>Dirección: {{order.address}}</p>
            </div>
        
            <h5>Precio Total: $ {{order.totalPaid}}</h5>
            <h5>Metodo de pago: {{order.payMode}}</h5>
    </div>
    </mat-expansion-panel>
</mat-accordion>
        
